.disabled {
    pointer-events: none;
    filter: blur(7px);

    &--animation {
        animation-name: disabledAnimation;
        animation-duration: 2s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
}

@keyframes disabledAnimation {
    from {filter: blur(10px)}
    to {filter: blur(18px)}
}

.dim-hover {
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.unit {
    color: var(--primary-purple);
    font-size: 0.7rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.hidden {
    opacity: 0 !important;
}