.disabled {
    pointer-events: none;
}

.dim-hover {
    opacity: 0.7;
    transition: opacity 300ms ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.unit {
    color: var(--primary-purple);
    font-size: 0.7rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}