@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --gray: #838383;
    --btn-black: #525151;
}

body {
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
}