@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    /* Colors */
    --gray: #838383;
    --primary-green: #22c95d;
    --primary-red: #cd002f;
    --primary-yellow: #ffff00;
}

body {
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
}

.disabled {
    pointer-events: none;
}