.btn {
    padding: .6rem 1.5rem;
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: .8;
    transition: 
        transform 300ms ease, 
        opacity 300ms ease-in-out,
        filter 400ms ease-in
    ;
    
    &:active {
        transform: scale(.989);
    }

    &:hover {
        opacity: 1;
    }

    &--big {
        padding: .8rem 3rem;
        font-size: 1.2em;
    }

    &--round {
        border-radius: 2.3rem;
    }

    &--black {
        background-color: #00000073;
        color: #fff;
    }
}