.main-container {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    transition: filter 1s ease-in-out;

    &--in-between {
        display: flex;
        flex-direction: column;
        margin: 0 4.68rem;
    }
}