:root {
    /* Scale */
    --eight-puzzle-scale-small: 0.5;

    /* Sizes */
    --eight-puzzle-cell-size: 73.5px;
    --eight-puzzle-cell-font-size: 1.75em;
    --eight-puzzle-icon-size: 12.6px;
}

.eight-puzzle {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title > p{
        font-size: 2em; 
        font-weight: 500;
        margin: 0;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
    }

    &__body {
        border: 3px solid #000;
        border-collapse: collapse;
        user-select: none;

        .eight-puzzle__cell {
            padding: 1.4rem; 
            height: var(--eight-puzzle-cell-size); 
            width: var(--eight-puzzle-cell-size); 
            font-size: var(--eight-puzzle-cell-font-size); 
            border: 1px solid #000;
            text-align: center;
            cursor: pointer;
            transition: 
                opacity 200ms ease,
                filter 100ms ease-in-out,
                background-color 200ms ease,
                color 200ms ease-out;

            &--blank {
                background-color: #000;
            }

            &--selected {
                background-color: var(--gray);
                color: #fff;
            }

            &--swapped {
                opacity: 0;
                filter: blur(2px);
            }
        }

        &--editable .eight-puzzle__cell:hover {
            background-color: var(--gray);
            color: #fff;
        }
    }

    &__board {
        position: relative;

        &--small {
            .eight-puzzle__icon > .iconify{
                width: calc(var(--eight-puzzle-icon-size) * var(--eight-puzzle-scale-small));
                height: calc(var(--eight-puzzle-icon-size) * var(--eight-puzzle-scale-small));
            }

            .eight-puzzle__cell {
                padding: calc(1.4rem * var(--eight-puzzle-scale-small));
                height: calc(var(--eight-puzzle-cell-size) * var(--eight-puzzle-scale-small));
                width: calc(var(--eight-puzzle-cell-size) * var(--eight-puzzle-scale-small));
                font-size: calc(var(--eight-puzzle-cell-font-size) * var(--eight-puzzle-scale-small));
            }
        }
    }

    &__icon {
        color: var(--gray);
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-120%, -100%);
        transition: color 600ms ease;
        cursor: help;

        & > .iconify {
            width: var(--eight-puzzle-icon-size); 
            height: var(--eight-puzzle-icon-size); 
        }

        &:hover {
            color: #000;
        }
    }
}